.headerContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    position: fixed;

right: 0;
top: 0;
left: 0;

z-index: 999;
padding: 1.5% 0%;
/* border-bottom:  solid hsla(0,0%,51%,.25) */
box-shadow: 10px 0px 5px rgb(19, 19, 19);
   
    

}

.headerContainer h1{
    font-size: 40px;
   font-weight: bolder;
}

.headerContainer ul {
    display: flex;
    list-style-type: none;

width: 40%;
align-items: center;
justify-content: center;
  

}
.headerContainer ul li{

    font-size: 20px;
    font-weight: 600;
    margin: 0% 2%;
 

}
.headerContainer a{
    text-decoration: none;
    cursor: pointer;
}
.headIcons{
  
    width: 10%;
    display: flex;
    justify-content: space-evenly;
}
.headerContainer a:hover{
    background-clip: text;
    -webkit-background-clip: text;
    background-image:linear-gradient(255deg, #FFF 10.09%, rgba(255, 255, 255, 0.00) 97.47%);;
    color: transparent;
    transition: all .3s;

}

.headIcons img{
  width: 30px;
  cursor: pointer;
}
.headerContainer button{
  font-size: 30px;
  border: none;
  outline:none;
  cursor: pointer;
  display: none;
}


@media screen and (min-width: 380px) and (max-width: 480px) {
  .headerContainer{
    width: 100%;
    align-items: center;
    justify-content:space-around;
    padding: 2% 7%;

  }
    .headerContainer ul {
        flex-direction: column;
        display: none;
      
    }
    .headIcons img{
        display: none;
      }
      .headerContainer button{
       
        display: block;
      }
  
      
   
    }