
*{
  text-transform: capitalize;
  scrollbar-color: #db00d9 #fff;
  scrollbar-width: thin;
}
.coin-app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #fff;
  margin: 0;
  padding: 0%;
}


.coin-search {
width: 100%;
display: flex;
flex-direction: column;

align-items: center;
justify-content: center;


}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
  font-size: 40px;
  font-weight:900;
}
form{
width: 90%;

}
.coin-input {
  padding-left: 16px;
 width: 100%;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );

  color: #e2e2e2;
}
.threeCoins{
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 8%;

}
.Btc img{
  width: 150px;

}
#Btcname{
font-size: 30px;
font-weight: 600;
}

.Btc{
  display: flex;
  flex-direction: column;
  align-items: center;

width: 20%;

  
}
.Btc p{
  font-size: 20px;
  font-weight: 800;
}

.coin-input::placeholder {
  color: #e2e2e2;
}
.checkout{
  width: 100%;
  display: flex;
  justify-content: center;
margin-bottom: 2%;

}
.checkout h2{
  font-size: 30px;
  
  font-weight: 900;
  margin-top: 5%;
}
@media screen and (min-width: 380px) and (max-width: 480px) {
  .checkout h2{
    font-size: 10px;
    
    font-weight: 900;
    margin-bottom: 5%;
  
  }
  .Btc img{
    width: 30px;
   margin-top: 5%;
  
  }
  }
  @media screen and (min-width: 380px) and (max-width: 480px) {
    .coin-text{
      font-size: 20px;
      
    }
    .coin-input{
      width: 100%;
    }
    .coin-app{
      overflow-x: auto;

    }
    }